[submodule "nb-nestjs"]
	path = nb-nestjs
	url = https://github.com/blitzdex27/nb-nestjs.git
[submodule "nb-objc"]
	path = nb-objc
	url = https://github.com/blitzdex27/nb-objc.git
[submodule "nb-common"]
	path = nb-common
	url = https://github.com/blitzdex27/nb-common.git
[submodule "nb-docker-kubernetes"]
	path = nb-docker-kubernetes
	url = https://github.com/blitzdex27/nb-docker-kubernetes.git
[submodule "nb-git"]
	path = nb-git
	url = https://github.com/blitzdex27/nb-git.git
	branch = main
